.main {
  background-color: #eee;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}

.tasks li:hover {
  background-color: #51c5de;
  padding: 10px;
  transition: all .2s linear;

}

.tasks li .edit {
  margin-right: 15px;
  color: #6b16ffcc;
}

.tasks li .delete {
  margin-right: 15px;
  color: #f04c;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: #000;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
  transition: .5s;
}

.tasks li span {
  display: flex;
  align-items: center;
}
